body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #1e293b;
    color: navy blue;
    text-align: center;
    padding: 40px 0;
}

section {
    padding: 40px;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #1e293b;
}

ul {
    list-style-type: square;
}

footer {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 10px;
}
